%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

[
 {marionet_logger, 
  [
  ]},

 {lager, 
  [{handlers, [
               {lager_console_backend, info},

               {lager_file_backend, 
                [{file, "/var/log/marionet-logger/error.log"}, {level, error}]},

               {lager_file_backend,
                [{file, "/var/log/marionet-logger/debug.log"}, {level, debug}]}
              ]}
  ]}
].

